<!DOCTYPE html>
<html lang="pt-br">
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Livraria Kron</title>
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body>
        <div class="div-backg">
            <div class="div-form">
                <form action="/criar_cliente" method="POST">
                    <h1>Livraria Kron</h1>
                    <br/>
                    <img src="..//static/images/index/Book lover-bro.svg"/>
                    <br/>
                    <input class="cl-input" type="text" name="nome" placeholder="Nome"/>
                    <br/>
                    <br/>
                    <input class="cl-input" type="text" name="user" placeholder="Nick"/>
                    <br/>
                    <br/>
                    <input class="cl-input" type="password" name="senha" placeholder="Senha"/>
                    <br/>
                    <br/>
                    <button type="submit">Criar Conta</button>
                    <br/>
                    <br/>
                    <a href="/">Fazer login</a>
                    <br/>
                    <br/>
                </form>
            </div>
        </div>
    </body>
</html>